<input type="checkbox" [(ngModel)]="checked"/>

<app-subject *ngIf="checked"></app-subject>

<button (click)="subjectService.setSubjectToRandom()">setSubjectToRandom</button>
<button (click)="subjectService.startTimer()">startTimer</button>
